<header class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item"><a href="/api/users">Users</a></li>
            <li class="main-header__item"><a href="/api/admin/add-user">Add User</a></li>
        </ul>
    </nav>
</header>